@model MVCApp.Models.District

@{
    ViewBag.Title = @Model.Name;
}

<h2>@String.Format("{0} - {1}", Model.Name, Model.Number)</h2>

<div id="districtDetails">

    @if(Model.AssignedToUserId == WebSecurity.CurrentUserId)
    {
        <div class="button">
            @Html.ActionLink(Strings.SearchAdresses, "Index", "SearchAddress", new { id = Model.Id }, null)
        </div>

        if (ViewBag.LastSearchEnabled)
        {
            <div class="button spacer">
                @Html.ActionLink(Strings.LastSearchResults, "SelectedAdresses", "SearchAddress", new { id = Model.Id }, null)
            </div>
        }

        <h3 id="toggleReportCompletion">
            <span>@Strings.ReportDistrictCompletion </span><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        </h3>

        @Html.Partial("~/Views/DistrictReport/_ReportCompletion.cshtml", Model)
    }
</div>

@Html.Partial("_Map")

<div class="spacer" />

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#toggleReportCompletion").click(function () {
                $("#reportCompletion").toggle();
            });
        });

    </script>

}