@model MVCApp.Models.District

@{
    int counter = Model.UserReports_DistrictComplete.Count;
}

<div id="reportCompletion">

    @using (Ajax.BeginForm("Create", "DistrictReport", new { type =  MVCApp.Models.DistrictReport.ReportTypes.Complete},
        new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "reportCompletion",
            Confirm = String.Format(Strings.DistrictReportCompleteConfirm, Model.Name),
            LoadingElementId = "ajaxLoader",
            OnFailure = "reportCompletionFailure"
        }))
    {
        @Html.HiddenFor(d => d.Id);                
        
        <div class="editor-field">
            @Strings.Date:
            <input type="text" id="reportedDate" name="date" value="@DateTime.Now.ToString(@"MM-dd-yyyy")"/>
        </div>
        <div class="button">
            <input type="submit" value="@Strings.Send" />
        </div>
    }
      
    <div id="ajaxLoader" style="display:none">
        <img src="~/Images/ajax-loader.gif">
    </div>

    @if(ViewBag.ReportSuccessful == true)
    {
        <div class="infoMessage">@Strings.DistrictReportCompleteThanks</div>
    }

    @if (Model.UserReports_DistrictComplete.Count > 0)
    {
    <table>
        <tr>
            <th>
                @Strings.YourCompletions
            </th>
        </tr>

        @foreach (var item in Model.UserReports_DistrictComplete)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </table>
    }
</div>

<script>
    $(function () {
        $('#reportedDate').datepicker({
            dateFormat: 'mm-dd-yy',
            minDate: '@Model.UserReport_MinDateForCompletion.ToString(@"MM-dd-yyyy")',
            maxDate: 0
        });
    });

    function reportCompletionFailure(ajaxContext) {
        alert("@Strings.UnexpectedErrorOccured");
    }    
</script>