@model IPagedList<MVCApp.Models.District>

@{
    ViewBag.Title = @Strings.MenuManageDistricts;
}

<h2>@ViewBag.Title</h2>

<div>
@using (Html.BeginForm("Index", "DistrictManage", FormMethod.Get))
{
    <input type="search" name="searchTerm" value="@ViewBag.SearchTerm"/>
    <input type="submit" value="@Strings.Search" /> 
}
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_List", Model)