@model MVCApp.Models.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<br />@Model.Name @Model.Lastname
<br />@Model.StreetAddress
<br />@Model.District.PostCode @Model.District.Name
<br />@Model.TelephoneNumber
<br />
<br />
 
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PersonModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Search", "District", new { DistrictSelectListItem = Model.District.Id, displayOnlyDeletedPersons = false }, null)
</div>

@section Scripts {

}
