@model List<MVCApp.Models.Person>

@{
    int counter = 1;
    string lastStreetAddress = "";
}

@if (Model != null && Model.Count() != 0)
{
    <table>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StreetAddress)
            </th>
            @if(ViewBag.IsMultiPostCode)
            {
            <th>
                @Html.DisplayNameFor(model => model.First().PostCode)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.First().TelephoneNumber)
            </th>
        </tr>

    @foreach (var item in Model) {
        
        if(lastStreetAddress != item.StreetAddress)
        {
            ViewBag.PersonCounter = counter;
            counter = counter + 1;
        }
        else
        {
           ViewBag.PersonCounter = ""; 
        }
                        
        @Html.Partial("_SelectedPersonRow", item);

        lastStreetAddress = item.StreetAddress;
    }
    </table>
    
}