@model MVCApp.Models.Person

@{
    int districtId = @ViewBag.DistrictId; 

}

<tr data-personId="@Model.Id">
    <td>
        @if(!String.IsNullOrEmpty(ViewBag.PersonCounter.ToString())) 
        {
            @ViewBag.PersonCounter@:.
        }
    </td>
            
    <td>
        @Html.ActionLink(Model.StreetAddress??" ", "EditPerson", new { id = @Model.Id }, new { @class = "editLink" })
    </td>
    @if(ViewBag.IsMultiPostCode)
    {
    <td>
        @Html.DisplayFor(modelItem => Model.PostCodeFormat)
    </td>
    }
    <td style="max-width:200px">
        @if (Model.DoNotVisit)
        {
            <span class="personDoNotVisit">
                @Html.Raw('(')@Strings.PersonDoNotVisit@Html.Raw(" - ")@String.Format("{0:MM.yy}", Model.DoNotVisitReportDate)@Html.Raw(')')
            </span>
        }

        @if (Model.IsVisitedByOtherPublisher)
        {
            <span class="otherPublisherVisiting">
                @String.Format('(' + Strings.PersonVisitedBy + ')', Model.VisitingPublisher)
            </span>
        }
        @Html.DisplayFor(modelItem => Model.Remarks)
    </td>
    <td >
        <span data-type="PersonEditButtons">
            @Ajax.ActionLink("Usuń", "DeletePerson", 
            new { personId = @Model.Id, districtId = districtId}, 
            new AjaxOptions 
            { 
                HttpMethod = "post",
                Confirm = @String.Format(@Strings.PersonDeleteConfirmation, Model.StreetAddress),
                OnSuccess = "personDeleted",
                OnFailure = "personDeleteError"                
            })            
        </span>
    </td>
</tr>