@model List<MVCApp.Models.Person>

@{
    Layout = null;
    int counter = 1;
    
    string columnsWidth = "";
    
    if(ViewBag.IsMultiPostCode)
    {
        columnsWidth = "1;5;5;2;2;5";
    }
    else
    {
        columnsWidth = "1;6;6;2;5";
    }

    string lastStreetAddress = ""; 
}

<itext creationdate="@DateTime.Now.ToString()">

    <paragraph size="14" font="Helvetica" style="font-weight:bold;color:darkgray;text-decoration:underline">
        <chunk>@ViewBag.DistrictName, </chunk>
        <chunk>@ViewBag.DistrictPostCode</chunk>
    </paragraph>

    <table width="100%" cellpadding="1.0" cellspacing="1.0"  widths="@columnsWidth">
        <row>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold">#</chunk>
            </cell>

	        <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold">@Html.DisplayNameFor(model => model.First().Name)</chunk>
	        </cell>
	        <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold">@Html.DisplayNameFor(model => model.First().StreetAddress)</chunk>
	        </cell>
            @if(ViewBag.IsMultiPostCode)
            {
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold">@Html.DisplayNameFor(model => model.First().PostCode)</chunk>
	        </cell>
            }
	        <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold;">@Html.DisplayNameFor(model => model.First().TelephoneNumber)</chunk>
	        </cell>  
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" bordercolor="#0D0C0C">
                <chunk style="font-weight:bold;">@Html.DisplayNameFor(model => model.First().Remarks)</chunk>
            </cell>          
        </row>

    @foreach (var item in Model)
    {
        <row>

            <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="11">
                @if(lastStreetAddress != item.StreetAddress)
                {
                    @counter@:.
                    counter = counter + 1;
                }
                @{ lastStreetAddress = item.StreetAddress; }
                </chunk>
            </cell>

            <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="11">
                    @if (item.DoNotVisit)
                    {
                        <chunk style="font-weight:bold;color:red">
                            @Html.Raw('(')@Strings.PersonDoNotVisit.Replace('ć', 'c')@Html.Raw(')')
                        </chunk>
                    }
                    @if (item.IsVisitedByOtherPublisher)
                    {
                        <chunk style="font-weight:bold;color:cornflowerblue">
                            @String.Format('(' + Strings.PersonVisitedBy + ')', item.VisitingPublisher)
                        </chunk>
                    }

                @item.Name @item.Lastname</chunk>
            </cell>

	        <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="11">@item.StreetAddress</chunk>
            </cell>
           
            @if(ViewBag.IsMultiPostCode)
            {
            <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="8">@item.PostCodeFormat</chunk>
            </cell>
            }
            <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="8">@item.TelephoneNumber</chunk>
            </cell>
            <cell borderwidth="0.1" left="false" right="false" top="false" bottom="true" bordercolor="#ABAAAA">
                <chunk size="8">@item.Remarks</chunk>
            </cell>
            
        </row>
    }
    </table>
</itext>
