@model MVCApp.Models.Person

@{
    ViewBag.Title = "Edytuj adres";

    string displayDateFormat = @"dd-MM-yyyy";
    string actualDateFormat = @"MM-dd-yyyy";

}

<h2>Edytuj adres</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Congregation</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @readonly="readonly" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lastname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lastname, new { @readonly="readonly" })
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StreetAddress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StreetAddress, new { @readonly="readonly" })
            @Html.ValidationMessageFor(model => model.StreetAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelephoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelephoneNumber)
            @Html.ValidationMessageFor(model => model.TelephoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoNotVisit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoNotVisit)
            @Html.ValidationMessageFor(model => model.DoNotVisit)
        </div>

        <div id="doNotVisitReportDateWrapper">
            <div class="editor-label">
                @Html.LabelFor(model => model.DoNotVisitReportDate)
            </div>
            <div class="editor-field">
                <input type="text" id="displayDate" value="@Model.DoNotVisitReportDate.ToString(displayDateFormat)" />
                <input type="hidden" id="altDate" name="DoNotVisitReportDate" value="@Model.DoNotVisitReportDate.ToString(actualDateFormat)" />
            </div>
        </div>
        <p>
            <input type="submit" value="@Strings.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Strings.BackToList, "Index", new { id = Model.District.Id })
</div>

<script>

    function setDoNotVisitState()
    {
        if(!$('#DoNotVisit').is(':checked'))
        {
            $('#displayDate').prop('disabled', true);
            $('#doNotVisitReportDateWrapper').hide();
        }
        else
        {
            $('#displayDate').prop('disabled', false);
            $('#doNotVisitReportDateWrapper').show();
            $('#displayDate').val("@DateTime.Today.ToString(displayDateFormat)");
            $('#altDate').val("@DateTime.Today.ToString(actualDateFormat)");
        }
    }

    $(function () {
        $('#displayDate').datepicker({
            dateFormat: 'dd-mm-yy',
            altFormat: "mm-dd-yy",
            altField: "#altDate"
        });

        setDoNotVisitState();

        $('#DoNotVisit').click(function () {
            setDoNotVisitState();
        });
    });

</script>