@model List<MVCApp.Models.Person>

@{
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}

<h2>@Html.ActionLink(districtName, "Index", "District", new { id = districtId }, null) -  @Strings.SearchSelectedAdresses</h2>

    <div class="button">
        @Html.ActionLink(Strings.SearchSaveSelectedAsPdf, "AdressesPdfFile", new { id = districtId })
    </div>
    <div class="button">
        @Html.ActionLink(Strings.SearchSaveSelectedAsDoc, "AdressesDocFile", new { id = districtId })
    </div>
    <div class="button">
        @Html.ActionLink(Strings.SearchDisplaySelectedOnMap, "AdressesMap", new { id = districtId }, new { target = "_blank" })
    </div>
    <div class="button buttonIn">
        <a href="#" id="AddPersonButton">+Dodaj adresy</a>
    </div>
    <div class="spacer" />

@Html.Partial("_AddPerson", new MVCApp.Models.Person())

<div id="personList">
    @Html.Partial("_SelectedPersonList")
</div>