@model MVCApp.Models.District

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Strings.District - @Html.DisplayFor(model => model.Number) - @Html.DisplayFor(model => model.Name)</h2>

<div id="districtDetails">

    @*    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostCode)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.PostCode)
        </div>
    </fieldset>*@

    <div class="button">
        @Html.ActionLink(Strings.SearchAdresses, "Index", "SearchAddress", new { id = Model.Id }, null)
    </div>

    @if (ViewBag.LastSearchEnabled)
    {
        <div class="button spacer">
            @Html.ActionLink(Strings.LastSearchResults, "SelectedAdresses", "SearchAddress", new { id = Model.Id }, null)
        </div>
    }

    @if(Model.AssignedToUserId == WebSecurity.CurrentUserId)
    {
        <h3 id="toggleReportCompletion">
            <span>@Strings.ReportDistrictCompletion </span><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        </h3>

        @Html.Partial("~/Views/DistrictReport/_ReportCompletion.cshtml", Model)
    }
</div>

@Html.Partial("_Map");

<div class="spacer" />

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#toggleReportCompletion").click(function () {
                $("#reportCompletion").toggle();
            });
        });

    </script>

}