@model IEnumerable<MVCApp.Models.DistrictReport>

<div id="ListReports">

    @if (Model != null)
    {
        using (Ajax.BeginForm("Approve", "DistrictReport",
        new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ListReports"
        }))
        {

            <input type="submit" value="@Strings.Approve" />

            <table>
                <tr>
                    <th>
                        <input type="checkbox" name="selectAllreports" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.District.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportTypeString)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedReportId" value="@item.Id" />
                        </td>
                        <td>
                            @Html.ActionLink(item.District.Number, "Index", "District", new { id = item.District.Id }, new { title = item.District.Name })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportTypeString)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                    </tr>
                }

            </table>
        }
    }
</div>

<script>

    $("input[name='selectAllreports']").click(function () {
        $("input[name='selectedReportId']").prop('checked', this.checked);
    });

</script>
