@model MVCApp.Models.District

@{
    int counter = Model.UserReports_DistrictComplete.Count;
    string displayDateFormat = @"dd-MM-yyyy";
    string actualDateFormat = @"MM-dd-yyyy";

    DateTime minDate = Model.UserReport_MinDateForCompletion.Date;
}

<div id="reportCompletion">

    @using (Ajax.BeginForm("Create", "DistrictReport", new { type = MVCApp.Models.DistrictReport.ReportTypes.Complete },
            new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "districtReportsTable",
                Confirm = String.Format(Strings.DistrictReportCompleteConfirm, Model.Name),
                LoadingElementId = "ajaxLoader",
                OnFailure = "reportCompletionFailure",
                OnBegin = "validateDate"
            }))
    {
        @Html.HiddenFor(d => d.Id);

        <div class="editor-field">
            @Strings.Date:
            <input type="text" id="displayDate" value="@DateTime.Now.ToString(displayDateFormat)" />
            <input type="hidden" id="altDate" name="date" value="@DateTime.Now.ToString(actualDateFormat)" />
        </div>

        <div class="button">
            <input type="submit" value="@Strings.Send" />
        </div>
    }

    @if (ViewBag.UserSelectList != null)
    {
        <div class="editor-field">
            @Html.DropDownList("UserId", (SelectList)ViewBag.UserSelectList)
        </div>
    }
    else
    {
        <input type="hidden" name="UserId" value="@WebSecurity.CurrentUserId" />
    }

    <div id="ajaxLoader" style="display:none">
        <img src="~/Images/ajax-loader.gif">
    </div>

</div>

<script>

    $(function () {
        $('#displayDate').datepicker({
            dateFormat: 'dd-mm-yy',
            altFormat: "mm-dd-yy",
            altField: "#altDate",
            minDate: new Date(@minDate.Year, @minDate.Month - 1, @minDate.Day),
            maxDate: new Date()
        });
    });

    function reportCompletionFailure(ajaxContext) {
        alert("@Strings.UnexpectedErrorOccured");
    }

    function validateDate(ajaxContext) {
        var inputDate = $("#displayDate").datepicker("getDate");
        var maxDate = $("#displayDate").datepicker("option", "maxDate");
        var minDate = $("#displayDate").datepicker("option", "minDate");

        var result = inputDate >= minDate && inputDate <= maxDate;

        if (!result) {
            alert("@Strings.DistrictReportInvalidDate");
        }

        return result;
    }

</script>