@model List<MVCApp.Models.Person>

@{
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}

<h2>@Html.ActionLink(districtName, "Index", "District", new { id = districtId }, null) -  @Strings.DistrictAddresses</h2>

    <div class="button">
        <a href="@Url.Action("AdressesPdfFile", new { id = districtId })" target="_blank" class="withImage">
            <img src='~/Images/WindowsIcons/Light/appbar.page.file.pdf.svg'/> @Strings.SearchSaveSelectedAsPdf
        </a>
    </div>
    <div class="button">
        <a href="@Url.Action("AdressesDocFile", new { id = districtId })" target="_blank" class="withImage">
            <img src='~/Images/WindowsIcons/Light/appbar.office.word.svg'/> @Strings.SearchSaveSelectedAsDoc
        </a>
    </div>
    <div class="button">
        <a href="@Url.Action("AdressesMap", new { id = districtId })" target="_blank" class="withImage">
            <img src='~/Images/WindowsIcons/Light/appbar.map.gps.svg'/> @Strings.SearchDisplaySelectedOnMap
        </a>
    </div>
    <div class="button buttonIn">
        <a href="#" id="EditPersonButton" class="withImage">
            <img src='~/Images/WindowsIcons/Light/appbar.edit.add.svg'/> @Strings.PersonEditButton
        </a>
    </div>
    <div class="spacer" />
@Html.Partial("_AddPerson", new MVCApp.Models.Person())

<div id="personList">
    @Html.Partial("_SelectedPersonList")
</div>