@model IPagedList<MVCApp.Models.Person>

@if (Model != null && Model.Count() != 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Selected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TelephoneNumber)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Selected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
        </tr>
    }
    </table>

    <div class="pagedList">
        @Html.PagedListPager(
            Model, 
            page => Url.Action(
                "GetPersonList", 
                new { Model.First().Territory.Id, page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                PagedListRenderOptions.MinimalWithPageCountText, 
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "personList"
                }))
    </div>
}