@model IPagedList<MVCApp.Models.Person>

@{
    ViewBag.Title = "Index";
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}

<h2>@Strings.District - @Html.DisplayFor(model => districtName) - @Strings.SearchAdresses</h2>

@if(Model.IsFirstPage)
{
<div>
    <div class="button">
        @Ajax.ActionLink(Strings.SearchRunOnKrak,
            "SearchOnKrak", 
            new { id = districtId },
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "personList",
                Url = Url.Action("SearchOnKrak", "SearchAddress", new { id = districtId }),
                LoadingElementId = "ajax-loader"
            })
    </div>
    <div class="spacer" />
</div>


<div id="ajax-loader" style="display: none;">
    <img src="~/Images/ajax-loader.gif">
    <p>This can take couple of minutes...</p>
</div>
}
    
<div id="personList">
    @Html.Partial("_PersonList")
</div>
