@model IPagedList<MVCApp.Models.Person>

@{
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
    ViewBag.Title = @Strings.SearchAdresses;
}

<h2>@Strings.District - @Html.DisplayFor(model => districtName) - @Strings.SearchAdresses</h2>

@if(Model.IsFirstPage)
{
<div>
    <div class="button">
        @Ajax.ActionLink(Strings.SearchRunOnKrak,
            "SearchOnKrak",
            new { id = districtId },
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "personList",
                Url = Url.Action("SearchOnKrak", "SearchAddress", new { id = districtId }),
                LoadingElementId = "ajaxLoader"
            },
            new { id = "searchOnKrak" })
    </div>
    <div class="spacer" />
</div>


<div id="ajaxLoader" style="display:none">
    <img src="~/Images/ajax-loader.gif"> @Strings.SearchAddressWait
</div>
}
    
<div id="personList">
    @Html.Partial("_PersonList")
</div>

@if(Model.Count == 0)
{
<script>
    $('a#searchOnKrak').click();
</script>
}