@model List<MVCApp.Models.Person>

@{
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;

    ViewBag.Title = String.Format("{0} - {1}", districtName, @Strings.SearchSelectedAdresses);
}


<h2>@ViewBag.Title</h2>

    <div class="button">
        @Html.ActionLink(Strings.SearchSaveSelectedAsPdf, "SelectedAdressesPdfFile", new { id = districtId })
    </div>
    <div class="button">
        @Html.ActionLink(Strings.SearchSaveSelectedAsDoc, "SelectedAdressesDocFile", new { id = districtId })
    </div>
    <div class="button">
        @Html.ActionLink(Strings.SearchDisplaySelectedOnMap, "SelectedAdressesMap", new { id = districtId }, new { target = "_blank" })
    </div>
    <div class="spacer" />
<div id="personList">
    @Html.Partial("_SelectedPersonList")
</div>